<% layout("layout/boilerPlate.ejs") %> <br /><br />
<div class="error">
  <img
    src="https://cdn.svgator.com/images/2024/04/detective-animation-404-error-page.gif"
    alt="404"
  />
  <br>
  <h2>Page Not Found!</h2>
</div>
