<% layout("layout/boilerPlate.ejs") %>
<div class="main">
  <div class="mainLeft">
    <h1>Empower Your Learning Journey</h1>
    <br />
    <p>
      Understand the fundamentals of progarmming to build robust web
      applications , Lorem ipsum dolor repellendus Eligendi quaerat inventore
      culpa.
    </p>
    <br />
    <div class="mainButtons">
      <a href="/course"
        ><button>
          Explore Courses &nbsp;<i class="fa-solid fa-arrow-right"></i></button
      ></a>
    </div>
  </div>
  <div class="mainRight">
    <img
      src="https://www.richmondconcept.com/wp-content/uploads/2024/07/StartProjectHero.png"
      alt=""
    />
  </div>
</div>
